:root {
    --dark-gray:#333;
    --light-gray:#70747A;
}
* {
    /*os comentários devem sempre ficar acima do assunto abordado*/
    /*reset das margens e do padding no navegador*/
    margin: 0;
    padding: 0;
    /*altera a familia de fontes do elemento, ele vai tentar colocar o texto na primeira fonte, caso não consiga vai tentar o segundo, assim por diante*/
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: var(--dark-gray);
}

p {
    color: #70747A;
}
.navbar-container {
    /*largura*/
    width: 100%;
    /*altura*/
    height: 80px;
    /*altera a cor de fundo*/
    background-color: #232A31;
    /*em= representa uma vez o tamanho da fonte definida no elemento pai. Ex: se no pai foi definida fonte de 10px e o filho tem 1 em, o tamanho do filho será 10px e assim por diante. Caso o pai não tenha um tamanho definido ele iráusar como base16px que é a fonte do navegador*//*nesse caso ficou 2em=2*16=32px*/
    padding: 0 2em;
    /*impede que a propriedade padding faça o elemento crescer de tamanho. EX.: se um padding de 10px for usado em um elemento de 200px de largura e 200px de altura ele irá fazer o elemento ter 220px de largura por 220px de altura, aumentando o tamanho do elemento. quando usamos box-sizing: border-box esse aumento de tamanho não irá acontecer pois o espaço do padding será descontado do elemento pai.*/
    box-sizing: border-box;
    position: relative;
}
.logo {
    width: 50px;
    margin-top: 15px;
}
.nav {
    position: relative;
}
.navbar-items {
    position: absolute;
    list-style: none;
    /*display altera o comportamento dos elementos na tela. EX.: converte um elemento de bloco para um elemento de linha e um elemento de linha em bloco, assim como tambpem permite definir um elemento como flexível usando o display:flex*/
    display: inline-block;
    margin: 0px;
    /*coordenada que só é possível a utilização quando se tem um elemento definido como position:absolute*/
    right: 0px;
    height: 80px;
    /*line-height= altera o espaçamento entre as linhas de texto. quando se usa um line-height da mesma altura que o elemento ele acaba por centralizar o texto na vertical*/
    line-height: 80px;
    list-style: none;
}
.navbar-items li{
    display: inline-block;
    /*text-transform: upperase = transforma todo o texto em caixa alta (CAPS LOCK)*/
    text-transform: uppercase;
    margin-left:25px;
}
.navbar-items li a {
    color: #fff;
    /*retira o estilo underline do link*/
    text-decoration: none;
    /*define em quanto tempo a ação do hover irá acontecer. transition não é necessário, mas é usado para deixar a animação mais suave. tem que ser sempre colocado antes da hover em si*/
    transition: 1s;
}
/*hover = representa o passar do mouse sobre o elemento*/
.navbar-items li a:hover{
    color:#bbb
    ;
}
.default-btn {
    background-color: #2CC76A;
    padding: 15px 20px;
    /*border-radius = arredonda as bordas dos elementos dá pra colocar os quatro lados diferentes*/
    border-radius: 5px;
}
.main-banner {
    background-image: url('../img/mainbanner.png');
    /*define como a imagem irá se adaptar ao elemento onde ela foi inserida. o valor cover define que a imagem terá o menor tamanho possível, fazendo assim que ele consiga caber dentro do elemento*/
    background-size:cover;
    /*define se a imagem irá se repetir ou não. EX.: repeat: irá se repetir tanto no eixo x quanto no y, repeat-x: irá se repetir somento no eixo x, repeat-y: irá se repetir somente no eixo y e no-repeat: define que a imgem não irá se repetir */
    background-repeat: no-repeat;
    /*define como a imagem será exibida dentro do elemento onde ela foi inserida. EX.; neste caso define que a imagem será posicionada a partir do seu centro no elemento em que ela estiver.*/
    background-position: center;
    padding: 10em 0;
    text-align: center;
}
.main-banner h1, .main-banner p {
    color: #fff;
    font-weight:bold;
}
.main-banner h1 {
    font-size: 54px;
}

.main-banner p {
    font-size: 32px;
}

.specialties-container {
    padding: 5em 0;
}

.specialties-container ul{
    /*quando quiser deixar as tags flexiveis tem que definir o pai da tag como display:flex não a própria ta*/
    display: flex;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
    width: 90%;
    margin: 0 auto;
    list-style: none;
}

.specialties-container ul li {
    text-align: center;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt {
    color: #2CC76A;
}

.fa-rocket {
    color: #EF3F29;
}

.fa-comments {
    color: #EF8F29;
}

.specialties-container ul li h3 {
    margin-bottom: 25px;
    color:#333
}

.specialties-container ul li p {
    /*espaçamento entre linhas*/
    line-height: 24px;
    color: #70747a;
}

/*preços*/

.pricing-container {
    padding-bottom: 5em;
    text-align: center;
}

.pricing-container h2 {
    font-size: 36px;
    margin-top: 0;
}

.pricing-container p {
    font-size: 20px;
}

.plans-container {
    display: flex;
    /*são colocados automaticamente quando você define o display: flex flex-direction: row;
    flex-wrap: nowrap;*/
    /*space-between aplica espaçamento entre os elementos filhos, esse espaço irá depender de quanto espaço vazio resta no elemento pai. space-around faz o mesmo que o space-between com a única diferença que também será colocado espaçamento das margens esquerda e direita*/
    justify-content: space-between;
    margin-top: 50px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*também poderia ser margin:50 0 auto*/
}

.plans-container .plan {
    width: 300px;
    margin: 0 20px;
}

.plans-container .plan ul {
    list-style: none;
    padding: 0;
}

.plan li {
    height: 70px;
    background-color: #e8e9ea;
    color: #333;
    line-height: 70px;

}

.plan .price {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #2CC76A;
    color: #fff;
    text-align: center;
    line-height: 140px;
    font-size: 20px;
    position: relative;
    margin: 0 auto;
    margin-bottom: -50px;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #202b34;
    font-weight: bold;
}

.plan .plan-btn {
    background-color: #2CC76A;
    color: #fff;
    font-size: 27px;
    height: 75px;
    line-height: 75px;
    cursor:pointer
}

.plan .recommended {
    background-color: #f45c57;
    color: #fff;
}

.searchdomain-container {
    background-color: #34454e;
    text-align: center;
    padding: 5em 0;
}

.searchdomain-container h2 {
    color: #fff;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input{
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}

/*os colchetes vão marcar o tipo de tag que será estilizado. EX.: na estilização abaixo a formatação vai valer apenas para os input do tipo texto*/
.searchdomain-container input[type=text] {
    margin-bottom: 25px;
    width: 60%;
    padding: 20px;
    font-size: 20px;
}

.searchdomain-container input[type=submit] {
    background-color: #2CC76A;
    padding: 15px 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/*contato*/

.contact-container {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2em;
}

.contact-container h2{
    font-size: 36px;
}

.contact-container p{
    font-size: 20px;
    margin-bottom: 40px;
}
.contact-container input, .contact-container textarea{
    width: 200px;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /*0 equivale a top, 10 equivaleaos lados, direito e esquerdo, 20 equivale a bottom*/
    margin: 0 10px 20px;
}
.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 490px;
    height: 150px;
}
.contact-container input[type=submit] {
    background-color: #2CC76A;
    color: #fff;
    cursor: pointer;
}
footer p{
    text-align: center;
    margin-bottom: 20px;
}